{% extends "main/base.html" %}
{% block content %}

<div class="row s10">
  <div class="col s2 hide-on-med-and-down">
    <img src="{{ user.profile.image.url }}" alt="" class="circle responsive-img">
  </div>
  <h3>
    {{ user.username }}
  </h3>
  <span>
    {{ user.email }}
  </span>
  <div class="row">
    <div class="col s10 offset-s10">
        <a href="{% url 'user:profile_edit' %}" class="btn waves-effect blue-grey darken-3 ">
          update
        </a>       
    </div>
  </div>
</div>
{% endblock content %}

<!-- valign-wrapper  -->